Xft.dpi: 144

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

XTerm.termName: xterm-256color
xterm*faceName: Iosevka
xterm*faceSize: 13
