Xft.dpi: 144

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

XTerm.termName: xterm-256color
xterm*faceName: Iosevka
xterm*faceSize: 14

! Theme: modus-operandi-tritanopia
! Description: XTerm port of modus-operandi-tritanopia (Modus themes for Emacs)
! Author: Protesilaos Stavrou, <https://protesilaos.com>
xterm*background: #ffffff
xterm*foreground: #000000
xterm*color0: #000000
xterm*color1: #a60000
xterm*color2: #006800
xterm*color3: #695500
xterm*color4: #0031a9
xterm*color5: #721045
xterm*color6: #005e8b
xterm*color7: #bfbfbf
xterm*color8: #595959
xterm*color9: #b21100
xterm*color10: #316500
xterm*color11: #973300
xterm*color12: #3548cf
xterm*color13: #531ab6
xterm*color14: #005f5f
xterm*color15: #ffffff
